{% extends "klas/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <img src="{% static 'images/img_virtual.png' %}" width="100%">
        <div class="text-block" style="background: rgba(115, 115, 115, 0.5)">
            <h1 class="a" style="font-size : 40px;color:white">BELAJAR CODING SEJAK DINI</h1>
            <h2 class="a" style="font-size : 30px;color:white">Melatih Kerja Otak, Mengasah Kecerdasan</h2>
        </div>

    </div>
    <div class="container" style="height:60px"><br></div>
    <div class="container">
        <br>
        <h1 class="a" style="font-size:30px">Artikel, Berita dan Kegiatan Coding</h1>
        <div><h2 class="a">Bali, <span id="displayDateTime"></span></h2></div><br>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">

                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted | date:"F d,Y"}}</small>
                </div>
                <br>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <br>
                <div class="def-img">
                    <img src="{{ post.image_post.url }}" height="300">
                    <code style="italic">Source : {{ post.caption }}</code>
                </div>
                <br>
                <br>
                <div>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
    </div>
{% endblock content %}