body {
  background: #ffffcc;
  color: #333333;

}

h1 {
  font-size:28px;
}

h1.a {
    font-family: "Audiowide", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    }
h1.b {font-family: "Sofia", sans-serif;}
h1.c {font-family: "Trirong", serif;}

h2, h3, h4, h5, h6, ul, li {
  font-family:"Trirong",serif;
  font-size:20px;
}

h2.a { font-family: "Sofia", sans-serif;}
h2.b { font-style: bold;text-align:center}
p {
  font-family:"Trirong",serif;
  font-size:20px;
}

p.a {font-style:bold}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #ff33cc;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color:#ff33cc;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  background-color:#ff33cc;
}

.account-heading {
  font-size: 2.5rem;
}

.def-img {
    height: 300px;
	width : 600px;
    background: #ff6699;
  }
  .about-img {
	height: 200px;
	width:200px;
    background: #ff6699;
  }

.container-text-over {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block {
  position: absolute;
  bottom: 100px;
  left: 20px;
  background-color: grey;
  color: white;
  padding-bottom:20px;
  padding-left: 20px;
  padding-right: 20px;
